.b{
	background-color:rgba(101, 252, 174,0.3);
	width: 65%;
	height:500px;
	margin-top: 20px;
	margin-left: 180px;
	color: #ff8708;
}
#head{
	font-family: Lato;
	padding-left: 430px;
	font-size:30px;
	padding-top: 30px;
}
h2{
	font-family: Lato;
	padding-left: 170px;
	padding-top: 25px;
	font-size: 60px;
	position: relative;
}
h3{
	font-family: Lato;
	padding-left: 40px;
	font-size:25px;
	padding-top: 30px;
	color: #ff8708;
}
.t{
	font-size: 30px;
	padding-left: 310px;
	padding-top: 10px;
}
hr{
	color: grey;
	width: 100;
	border-top: :2px solid #f8f8f8;
	border-bottom: 2px solid rgba(0,0,0,0.2);
}
body{
	font-family: Lato;
	color: white;
	background: linear-gradient(to right, #f6ff00, #03fcf4);
}
input{
	margin-left: 50px;
	font-size: 17px;
	position: relative;
}
textarea{
	margin-left: 50px;
	font-size: 17px;
}
label{
	margin-left: 40px;
	font-size: 30px;
	position: relative;
}
p{
	margin-top: 40px;
}
#button{ 
	margin-top: 50px;
	margin-left: 250px;
	width: 150px;
	height:40px;
	position: relative;
}
h5{
	font-family: Lato;
	font-size: 30px;
	margin-left: 40px;
}
select{
	font-family: Lato;
	font-size: 20px;
	margin-left: 100px;
	width: 250px;
}