.b{
	background-color:rgba(21, 237, 68,0.3);
	width: 60%;
	height:250px;
	margin-top: 150px;
	margin-left: 220px;
}
h2{
	font-family: Lato;
	padding-left: 200px;
	padding-top: 30px;
	font-size: 60px;
	position: relative;
	animation: mymove1 1s;
}
h3{
	font-family: Lato;
	padding-left: 370px;
	font-size:50px;
	padding-top: 30px;
}
#button{ 
	margin-left: 250px;
	width: 150px;
	height:40px;
	position: relative;
}
.t{
	font-size: 40px;
	padding-left: 230px;
	padding-top: 10px;
}
hr{
	color: grey;
	width: 100;
	border-top: :2px solid #f8f8f8;
	border-bottom: 2px solid rgba(0,0,0,0.2);
}
body{
	font-family: Lato;
	color: white;
	background: linear-gradient(to right, #ffea00, #ff9900);
}
h5{
	font-family: Lato;
	font-size: 45px;
	margin-left: 40px;
}