.b{
	background-color: #4baddb;
	width: 80%;
	height:900px;
	margin-top: 20px;
	margin-left: 110px;
}
#head{
	font-family: Lato;
	padding-left: 430px;
	font-size:30px;
	padding-top: 30px;
}
h2{
	font-family: Lato;
	padding-left: 220px;
	padding-top: 30px;
	font-size: 60px;
	position: relative;
}
h3{
	font-family: Lato;
	padding-left: 40px;
	font-size:25px;
	padding-top: 30px;
}
.t{
	font-size: 30px;
	padding-left: 310px;
	padding-top: 10px;
}
hr{
	color: grey;
	width: 100;
	border-top: :2px solid #f8f8f8;
	border-bottom: 2px solid rgba(0,0,0,0.2);
}
body{
	font-family: Lato;
	color: white;
	background: linear-gradient(to right, #e80eda, #2830d1);
}
input{
	margin-left: 50px;
	font-size: 17px;
	position: relative;
	animation: mymove2 1s linear;
}
label{
	margin-left: 40px;
	font-size: 30px;
	position: relative;
	animation: mymove3 1s linear;
}
p{
	margin-top: 40px;
}
#button{ 
	margin-left: 370px;
	width: 150px;
	height:40px;
	position: relative;
	animation: mymove4 1s;
}
h5{
	font-family: Lato;
	font-size: 30px;
	margin-left: 40px;
}
select{
	font-family: Lato;
	font-size: 20px;
	margin-left: 10px;
}